audio::-webkit-media-controls-panel{
    background: yellow;
}


audio::-webkit-media-controls-mute-button{
    background-color: greenyellow;
    border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display, 
audio::-webkit-media-controls-time-remaining-display{
    background-color: #f781da;
    padding: 3px;
    border-radius: 5px;
}